USE [master]
GO
/****** Object:  Database [DB_QuanLyNV]    Script Date: 11/23/2023 10:20:58 PM ******/
CREATE DATABASE [DB_QuanLyNV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_QuanLyNV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\DB_QuanLyNV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_QuanLyNV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\DB_QuanLyNV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_QuanLyNV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_QuanLyNV]
GO
/****** Object:  Table [dbo].[KeToan]    Script Date: 11/23/2023 10:20:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeToan](
	[ID] [nvarchar](10) NOT NULL,
	[MaTK] [nvarchar](10) NULL,
	[LuongCB] [int] NULL,
	[LuongThuong] [int] NULL,
	[TongLuong] [int] NULL,
 CONSTRAINT [PK_KeToan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lich]    Script Date: 11/23/2023 10:20:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lich](
	[IDCV] [nvarchar](10) NOT NULL,
	[CongViec] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](500) NULL,
	[MaTK] [nvarchar](10) NULL,
	[TenTK] [nvarchar](20) NULL,
	[Deadline] [date] NULL,
 CONSTRAINT [PK_Lich1] PRIMARY KEY CLUSTERED 
(
	[IDCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 11/23/2023 10:20:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[MaTK] [nvarchar](10) NOT NULL,
	[Password] [nvarchar](20) NULL,
	[TenTK] [nvarchar](20) NULL,
	[Vaitro] [int] NULL,
	[Hinhanh] [nvarchar](30) NULL,
	[BanNganh] [nvarchar](10) NULL,
 CONSTRAINT [PK_Login1] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 11/23/2023 10:20:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[MaPB] [nvarchar](10) NOT NULL,
	[TenPB] [nvarchar](10) NULL,
	[MaTK] [nvarchar](10) NULL,
	[TenQl] [nvarchar](20) NULL,
	[SoluongNV] [nvarchar](3) NULL,
 CONSTRAINT [PK_PhongBans] PRIMARY KEY CLUSTERED 
(
	[MaPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KeToan]  WITH CHECK ADD  CONSTRAINT [FK_KeToan_Login] FOREIGN KEY([MaTK])
REFERENCES [dbo].[Login] ([MaTK])
GO
ALTER TABLE [dbo].[KeToan] CHECK CONSTRAINT [FK_KeToan_Login]
GO
ALTER TABLE [dbo].[Lich]  WITH CHECK ADD  CONSTRAINT [FK_Lich_Login] FOREIGN KEY([MaTK])
REFERENCES [dbo].[Login] ([MaTK])
GO
ALTER TABLE [dbo].[Lich] CHECK CONSTRAINT [FK_Lich_Login]
GO
ALTER TABLE [dbo].[PhongBan]  WITH CHECK ADD  CONSTRAINT [FK_PhongBan_Login1] FOREIGN KEY([MaTK])
REFERENCES [dbo].[Login] ([MaTK])
GO
ALTER TABLE [dbo].[PhongBan] CHECK CONSTRAINT [FK_PhongBan_Login1]
GO
USE [master]
GO
